-inherit BahnMaze:templates/_base.html

-def page_title()
    ${'Daftar Pengguna'}

.row
  .col-sm-12.col-xs-12
    <%self.widgets:panel>
      h2.red.title
        span ${'Daftar Pengguna'}&nbsp;
        span ${baka.ui.tags.Link(u'Buat Akun', url=request.route_url('tambah_pengguna'), class_="btn btn-primary")}
      table#table.table.table-striped.table-bordered width="100%" cellspacing="0"
        thead
            tr
              th: ID Pengguna
              th: Email Pengguna
              th: Akun Pengguna
              th: Perintah

    </%self.widgets:panel>

-block js
    script type="application/javascript"
        $(function(){
            $('#table').DataTable({
                "ajax": {
                    "url": "${request.route_url('daftar_pengguna')}",
                    "type": "POST"
                },
                "columns": [
                    { "data": "pid" },
                    { "data": "email" },
                    { "data": "username" },
                    { "data": null },
                ],
                "columnDefs": [{
                    "targets": -1,
                    "data": null,
                    "render": function(data, type, full, meta) {
                        return  '<a href="/profile/' + data['uid'] + '">' +
                                'View' +
                                '</a> &nbsp&nbsp' +
                                '<a href="/profile/' + data['uid'] + '">' +
                                'Edit</a> &nbsp&nbsp' +
                                '<a href="/user/' + data['uid'] + '/forgot">' +
                                'Ubah Kata Sandi</a> &nbsp&nbsp'
                    }
                }]
            });
        });
